<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form class="needs-validation" th:action="@{/interviewsheet/upload}" method="post">
        <input type="text" class="form-control" name="msg" th:value="${msg}" placeholder="입력창1">
        <input type="text" class="form-control" name="msg2" th:value="${msg2}" placeholder="입력창2">
        <input type="text" class="form-control" name="msg3" th:value="${msg3}" placeholder="입력창3">
        <input type="submit">
    </form>

</body>
</html>