<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/interviewsheet/upload}"method="post">
    <text>나이가 어떻게 되세요?</text>
    <br>
    <input type="text" class="form-control" name="Bibigo" th:value="${msg}"
placeholder="두자리 숫자">
    <br>
    <text>팽경장은 건강하시고?</text>
    <br>
    <input type="text" class="form-control" name="Bibigo2" th:value="${msg2}"
           placeholder="건강할까요?">
    <input type="submit">
</form>

</body>